* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-Google-Sans: "Noto Sans", sans-serif;
  --font-Volkhov: "Volkhov", serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Open-Sans: "Open Sans", sans-serif;
  --color-Dark: #212832;
  --color-Terra-Cotta: #df6951;
  --color-Blue-Zodiac: #181e4b;
  --color-Dolphin: #5e6282;
  --color-Night: #080809;
  --color-Haiti: #14183e;
  --color-white: #ffffff;
}
.container {
  padding: 25px 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
header {
  position: sticky;
  top: 0;
  background-color: #dddbdb;
  z-index: 1;
}
.container ul {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  padding: 0;
}

.container ul li {
  list-style: none;
}

.container ul a {
  text-decoration: none;
  color: var(--color-Dark);
}

.but {
  width: 70px;
  height: 30px;
}

input,
label {
  display: none;
}

@media (max-width: 991px) {
  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  header nav {
    display: none;
  }

  #check:checked ~ nav,
  ul {
    display: flex;
    position: fixed;
    display: block;
    top: 60px;
    left: 0;
    width: 100%;
    background: #dddbdb;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul a {
    font-size: 20px;
    line-height: 50px;
  }
  .blob   {
  display: none;
  }
  .hero {
    max-width: 300px;
position: relative;
top: 350px;
  
  }
}
.containers {
  display: flex;
  justify-content: space-around;
}
.travel {
  margin: 100px 0 0 15%;
}
.travel h1 {
  flex-wrap: wrap;
  font-size: 50px;
  font-family: var(--font-Volkhov);
  font-weight: 700;
  color: var(--color-Blue-Zodiac);
}
.travel .best {
  flex-wrap: wrap;
  font-family: var(--font-Poppins);
  font-size: 20px;
  font-weight: 700;
  color: var(--color-Terra-Cotta);
}
.built {
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500px;
  line-height: 30px;
  color: var(--color-Dolphin);
}
.blob {
  flex-wrap: wrap;
  width: 700px;
  height: 600px;
  margin: 1px 0 0 10%;
}
.hero {
  margin: -600px 0 0 0;
}
